﻿@model AdvanceUMS.Models.Site

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Site</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RegistrationNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RegistrationNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PostCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PostCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Add1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Add1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Add2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Add2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Area)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Area)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Country)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PersonFirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PersonFirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PersonMiddleName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PersonMiddleName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PersonLastName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PersonLastName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Post)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Post)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PersonContactNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PersonContactNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PersonEmail)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PersonEmail)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsDefault)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsDefault)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InsertDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InsertDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InsertBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InsertBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastModified)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastModified)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastModifiedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastModifiedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tblCompany.CompanyName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tblCompany.CompanyName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
