﻿@model IEnumerable<AdvanceUMS.Models.Site>

@{
    AdvanceUMS.Helper.GeneralHelper dHelper = new AdvanceUMS.Helper.GeneralHelper();
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Add Site
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/Sites">SiteList</a></li>
            <li class="active">Add Site</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <a href="/admin/Sites/create" class="btn btn-info pull-right">Add Site</a>
                    </div>
                    <div class="box-body">

                        <table id="tbl" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.tblCompany.CompanyName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RegistrationNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PostCode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Add1)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Add2)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Area)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.City)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Country)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PersonFirstName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PersonMiddleName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PersonLastName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Post)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PersonContactNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PersonEmail)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ServiceDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ServiceDuration)
                                    </th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tblCompany.CompanyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RegistrationNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PostCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Add1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Add2)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Area)
                                    </td>
                                    <td>@dHelper.GetCityName(item.City)</td>

                                    <td>
                                        @dHelper.GetCountryName(item.Country)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PersonFirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PersonMiddleName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PersonLastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Post)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PersonContactNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PersonEmail)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ServiceDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ServiceDuration)
                                    </td>

                                    <td>
                                        <a href="/admin/sites/edit?ID=@item.Id" class="btn btn-primary btn-xs">Edit</a>
                                        @*<a href="/admin/sites/delete?ID=@item.Id" class="delete btn btn-warning btn-xs">Delete</a>*@
                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="/scripts/Common.js"></script>
<script>
    $(document).ready(function () {
        $('#tbl').DataTable({
            "scrollX": true
        });
    });
</script>


