﻿@model AdvanceUMS.Models.Category

<script src="/scripts/jquery.validate.min.js"></script>
<script src="/scripts/jquery.validate.unobtrusive.min.js"></script>
<!-- Main content -->
<section class="content">
    <div class="row">
       
    </div>
</section>
<input type="hidden" id="type" value="@ViewBag.Edit" />
<link rel="stylesheet" href="/content/assets/css/dropify.min.css" />
<script src="/content/assets/js/dropify.min.js"></script>
<script>
    function SuccessAddUser(data) {
        if (data.status == "1") {
            window.location = data.url;
        }
        if (data.status == "2") {
            $('#message').html(data.message);
        }
    }
</script>
