﻿@model IEnumerable<AdvanceUMS.Models.Category>

@{

}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Stock Bracket
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Stock Bracket</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    @if (ViewBag.IsAdd == true)
                    {
                        <div class="box-header">
                            <a href="/admin/Category/create" class="btn btn-info pull-right">Create Stock Bracket</a>
                        </div>
                    }
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <span id="message"></span>
                                @Html.Raw(ViewBag.Message)
                                <table id="tbl" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Name)
                                            </th>
                                            @*<th>
                                                    @Html.DisplayNameFor(model => model.tblCompany.CompanyName)
                                                </th>*@
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>


                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                @*<td>
                                                        @Html.DisplayFor(modelItem => item.tblCompany.CompanyName)
                                                    </td>*@
                                                <td>
                                                    <a href="/admin/Category/edit?ID=@item.ID" class="btn btn-primary btn-xs">Edit</a>
                                                    @*<a href="/admin/Category/delete?ID=@item.ID" class="delete btn btn-warning btn-xs">Delete</a>*@
                                                    @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="/scripts/Common.js"></script>
<script>
    $(document).ready(function () {
        $('#tbl').DataTable({
            "scrollX": true
        });

    });
</script>
