﻿@model AdvanceUMS.Models.tblUser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>tblUser</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RoleID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RoleID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CountryID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CountryID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PhotoPath)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PhotoPath)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FacebookLink)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FacebookLink)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TwitterLink)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TwitterLink)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GoogleLink)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GoogleLink)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LinkedInLink)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LinkedInLink)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SkypeID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SkypeID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsDefault)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsDefault)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsLockedOut)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsLockedOut)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastLoginDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastLoginDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastLockoutDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastLockoutDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FailedPasswordCount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FailedPasswordCount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InsertDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InsertDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InsertBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InsertBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastModified)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastModified)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastModifiedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastModifiedBy)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
