﻿@model AdvanceUMS.Models.EngineerReport

@{

}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Engineer Report
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/EngineerReports">EngineerReports</a></li>
            <li class="active">Engineer Report</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">                   
                    <div class="box-body">
                        <dl class="dl-horizontal">
                            <dt>
                                Site Name
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Site.Name)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Site.RegistrationNo)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Site.RegistrationNo)
                            </dd>
                            <dt>
                                Job Allocated Date
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.SiteAllocation.JobDateTime)
                            </dd>
                            <dt>
                                Job End Time
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.JobEndTime)
                            </dd>
                            <dt>
                                Job Status
                            </dt>

                            <dd>
                                @if (Model.jobStatus == 1)
                                {
                                    <p>Done</p>
                                }
                                else
                                {
                                    <p>Pending</p>
                                }
                            </dd>
                            <dt>
                                Engineer's Note
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Notes)
                            </dd>
                            <dt>
                                Engineer Sign
                            </dt>

                            <dd>
                                <img src="@Model.EngineerSign" height="100" width="100" />
                            </dd>
                            <dt>
                                Customer Sign
                            </dt>

                            <dd>
                               <img src="@Model.CustomerSign" height="100" width="100" />
                            </dd>
                        </dl>
                        <hr/>       
                        <div>
                            <h2>Service Details</h2>
                        </div>
                        <table id="tbl" class="table dataTable table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                       Service
                                    </th>
                                    <th>
                                       Is Checked
                                    </th>
                                    <th>
                                        Notes
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.EngineerReportDetails)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Service.Name)
                                    </td>
                                    <td>                                       
                                        @if (item.ServiceChecked == 1)
                                        {
                                            <p>Yes</p>
                                        }
                                        else
                                        {
                                            <p>No</p>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Notes)
                                    </td>
                                </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

