﻿@model IEnumerable<AdvanceUMS.Models.EngineerReport>


@{

}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Engineer Report
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/EngineerReports">Engineer Report</a></li>
            <li class="active">Engineer Report</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    @*<div class="box-header">
                        <a href="/admin/EngineerReports/create" class="btn btn-info pull-right">Add Engineer Report</a>
                    </div>*@
                    <div class="box-body">

                        <table id="tbl" class="table dataTable table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Report No
                                    </th>
                                    <th>
                                        Site Name
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Site.RegistrationNo)
                                    </th>
                                    <th>
                                        Engineer Name
                                    </th>
                                    <th>
                                        Alocation Date
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SiteAllocation.Site.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Site.RegistrationNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SiteAllocation.tblUser.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SiteAllocation.JobDateTime)
                                    </td>

                                    <td>
                                        <a href="/admin/EngineerReports/Details?ID=@item.ID" class="btn btn-primary btn-xs">View</a>
                                        @*<a href="/admin/EngineerReports/edit?ID=@item.ID" class="btn btn-primary btn-xs">Edit</a>*@
                                        @*<a href="/admin/EngineerReport/delete?ID=@item.ID" class="delete btn btn-warning btn-xs">Delete</a>*@
                                    </td>
                                </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="/scripts/Common.js"></script>
<script>
    $(document).ready(function () {
        $('#tbl').DataTable({
            "scrollX": true
        });
        $('.delete').click(function () {
            var url = $(this).data('url');
            alert(url)
            $.get(url, function (data) {
                if (data.success == "0") {
                    $('#tbl').load(data.url);
                    $("#tbl").DataTable();
                    $('#message').html(data.message);
                }
                else if (data.success == "3") {
                    $('#message').html(data.message);
                }
            });
            return false;
        });
    });
</script>

