﻿@model IEnumerable<AdvanceUMS.Models.ServiceCategory>

@{

}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
             Service Category
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/ServiceCategory">ServiceCategory</a></li>
            <li class="active">Add Service Category</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <a href="/admin/ServiceCategory/create" class="btn btn-info pull-right">Add Service Category</a>
                    </div>
                    <div class="box-body">

                        <table id="tbl" class="table dataTable table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Details)
                                    </th>                                   
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Details)
                                    </td>
                                    <td>
                                        <a href="/admin/ServiceCategory/edit?ID=@item.ID" class="btn btn-primary btn-xs">Edit</a>
                                        @*<a href="/admin/ServiceCategory/delete?ID=@item.ID" class="delete btn btn-warning btn-xs">Delete</a>*@
                                    </td>

                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="/scripts/Common.js"></script>
<script>
    $(document).ready(function () {
        $('#tbl').DataTable({
            "scrollX": true
        });
        $('.delete').click(function () {
            var url = $(this).data('url');
            alert(url)
            $.get(url, function (data) {
                if (data.success == "0") {
                    $('#tbl').load(data.url);
                    $("#tbl").DataTable();
                    $('#message').html(data.message);
                }
                else if (data.success == "3") {
                    $('#message').html(data.message);
                }
            });
            return false;
        });
    });
</script>
