﻿@model AdvanceUMS.Models.tblCompany

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>tblCompany</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CompanyName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CompanyName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RegistrationNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RegistrationNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PostCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PostCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Add1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Add1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Add2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Add2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Area)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Area)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PostCodeO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PostCodeO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Add1O)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Add1O)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Add2O)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Add2O)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AreaO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AreaO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PersonFirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PersonFirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PersonMiddleName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PersonMiddleName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PersonLastName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PersonLastName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Post)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Post)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PersonContactNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PersonContactNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PersonEmail)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PersonEmail)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ContactNo1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ContactNo1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ContactNo2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ContactNo2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsDefault)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsDefault)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsLockedOut)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsLockedOut)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastLoginDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastLoginDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastLockoutDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastLockoutDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FailedPasswordCount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FailedPasswordCount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InsertDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InsertDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InsertBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InsertBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastModified)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastModified)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastModifiedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastModifiedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tblCity.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tblCity.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tblCity1.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tblCity1.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tblCountry.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tblCountry.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tblCountry1.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tblCountry1.Name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
