﻿@model IEnumerable<AdvanceUMS.Models.tblCompany>

@{

}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Company
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Company</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    @if (ViewBag.IsAdd == true)
                    {
                        <div class="box-header">
                            <a href="/admin/company/create" class="btn btn-info pull-right">Create Company</a>
                        </div>
                    }
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <span id="message"></span>
                                @Html.Raw(ViewBag.Message)
                                <table id="tblCompany1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CompanyName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.RegistrationNo)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PostCode)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Add1)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Add2)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Area)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Email1)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Email2)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PersonFirstName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PersonMiddleName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PersonLastName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Post)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PersonContactNo)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PersonEmail)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ContactNo1)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ContactNo2)
                                            </th>

                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {

                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.RegistrationNo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PostCode)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Add1)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Add2)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Area)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Email1)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Email2)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PersonFirstName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PersonMiddleName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PersonLastName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Post)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PersonContactNo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PersonEmail)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ContactNo1)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ContactNo2)
                                                </td>

                                                <td>
                                                    @*/admin/Company/edit?ID=@item.Id*@
                                                    <a href="/admin/Company/edit?ID=@item.Id" class="btn btn-primary btn-xs">Edit</a>
                                                    @*<a data-url="/admin/Company/delete/@item.Id" class="delete btn btn-warning btn-xs">Delete</a>*@
                                                    @if (ViewBag.IsEdit == true)
                                                    {

                                                    }
                                                    @if (ViewBag.IsDelete == true)
                                                    {

                                                    }
                                                </td>

                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="/scripts/Common.js"></script>
<script>
    $(document).ready(function () {
        $('#tblCompany1').DataTable({
            "scrollX": true
        });
        $('.delete').click(function () {
            var url = $(this).data('url');
            alert(url)
            $.get(url, function (data) {
                if (data.success == "0") {
                    $('#tblCompany1').load(data.url);
                    $("#tblCompany1").DataTable();
                    $('#message').html(data.message);
                }
                else if (data.success == "3") {
                    $('#message').html(data.message);
                }
            });
            return false;
        });
    });
</script>
