﻿
@{

}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Home
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
           
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">                   
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <span id="message"></span>
                                @Html.Raw(ViewBag.Message)                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="/scripts/Common.js"></script>
