﻿@model AdvanceUMS.Models.SiteAllocation

@{

}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
          Delete  Site Allocations
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/SiteAllocations"> Site Allocations List</a></li>
            <li class="active">Delete Site Allocate</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <h3>Are you sure you want to delete this?</h3>
                        <div>                           
                            <hr />
                            <dl class="dl-horizontal">

                                <dt>
                                    Engineer Name
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.tblUser.FirstName)
                                </dd>
                                <dt>
                                  Site Name
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Site.Name)
                                </dd>
                                <dt>
                                  Time
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.JobDateTime)
                                </dd>





                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Delete" class="btn btn-default" /> |
                                    @Html.ActionLink("Back to List", "Index")
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>SiteAllocation</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.JobDateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobDateTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JobStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobStatus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InsertDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InsertDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InsertBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InsertBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastModified)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastModified)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastModifiedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastModifiedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Site.RegistrationNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Site.RegistrationNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tblUser.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tblUser.FirstName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
