﻿@model AdvanceUMS.Models.SiteAllocation

@{

}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Site Allocations
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/SiteAllocations"> Site Allocations List</a></li>
            <li class="active">Edit Site Allocate</li>
        </ol>
    </section>


    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Id)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.UserId, "Engineer Name", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-5">
                                        @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.SiteId, "Site Name", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-5">
                                        @Html.DropDownList("SiteId", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SiteId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.JobDateTime, "Job Time", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-5">
                                        @Html.EditorFor(model => model.JobDateTime, new { htmlAttributes = new { @class = "form-control date-picker" } })
                                        @Html.ValidationMessageFor(model => model.JobDateTime, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-4 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.date-picker').flatpickr({
            enableTime: true,
        }
        );
    })
</script>
