﻿@model IEnumerable<AdvanceUMS.Models.SiteAllocation>

@{

}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Site Allocations
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/SiteAllocations"> SiteAllocationsList</a></li>
            <li class="active">Site Allocations List</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <a href="/admin/SiteAllocations/create" class="btn btn-info pull-right">Allocate Site</a>
                    </div>
                    <div class="box-body">

                        <table id="tbl" class="table table-bordered dataTable">
                            <thead>
                                <tr>
                                    <th>
                                        Engineer Name
                                    </th>
                                    <th>
                                        Site Name
                                    </th>
                                    <th>
                                        Site Address
                                    </th>
                                    <th>
                                        Site PostCode
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.JobDateTime)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.JobStatus)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tblUser.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Site.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Site.Add1) , @Html.DisplayFor(modelItem => item.Site.Add2)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Site.PostCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.JobDateTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.JobStatus)
                                    </td>
                                    <td>
                                        <a href="/admin/SiteAllocations/edit?ID=@item.Id" class="btn btn-primary btn-xs">Edit</a>
                                        <a href="/admin/SiteAllocations/delete?ID=@item.Id" class="delete btn btn-warning btn-xs">Delete</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="/scripts/Common.js"></script>
<script>
    $(document).ready(function () {
        $('#tbl').DataTable({
            "scrollX": true,
            dom: 'Bfrtip',
            buttons: [               
                'excelHtml5',                
                'pdfHtml5'
            ]
        });       
    });
</script>
