﻿@model IEnumerable<AdvanceUMS.Models.tblCity>

@{
    ViewBag.Title = "Cities";
}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            City
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">City</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    @if (ViewBag.IsAdd == true)
                    {
                        <div class="box-header">
                            <a href="/admin/Cities/create" class="btn btn-info pull-right">Add City</a>
                        </div>
                    }
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <span id="message"></span>
                                @Html.Raw(ViewBag.Message)
                                <table id="tblCity" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Name)
                                            </th>

                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {

                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>

                                                <td>
                                                    <a href="/admin/cities/edit?ID=@item.ID" class="btn btn-primary btn-xs">Edit</a>
                                                    @*@Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                                                </td>
                                            </tr>


                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
<script src="/scripts/Common.js"></script>
<script>
    $(document).ready(function () {
        $('#tblCity').DataTable({
            "scrollX": true
        });
    });
</script>