﻿@model AdvanceUMS.Models.tblModule


<div id="ModalPopUp" class="modal-dialog modal-xs" role="document">
    <div class="modal-content">
        <div class="modal-header bg-primary">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
            <h4 class="modal-title"><strong>Add / Edit </strong> Module</h4>
        </div>
        @using (Ajax.BeginForm("Create", "Module", null, new AjaxOptions { OnSuccess = "CreateSuccess" }, new { @id = "formid" }))
        {
            @Html.HiddenFor(model => model.ID)
            <div class="modal-body">
                <div id="Modelmessage"></div>
                <div class="form-group">
                    <label class="form-control-label"> Parent Page</label>
                    @Html.DropDownListFor(model => model.ParentModuleID, ViewBag.ModuleList as SelectList, "Select Module", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="form-control-label"> Display Order</label>
                    @Html.TextBoxFor(model => model.DisplayOrder, new { @class = "form-control", placeholder = "DisplayOrder", @required = "required", @type = "number" })
                </div>
                <div class="form-group">
                    <label class="form-control-label"> Name</label>
                    @Html.TextBoxFor(model => model.ModuleName, new { @class = "form-control", placeholder = "Name", @required = "required" })
                </div>
                <div class="form-group">
                    <label class="form-control-label"> Page Icon <a href="https://fortawesome.github.io/Font-Awesome/icons/" target="_blank">Icon List</a></label>
                    @Html.TextBoxFor(model => model.PageIcon, new { @class = "form-control", placeholder = "fa-dashboard", @required = "required" })
                </div>
                <div class="form-group">
                    <label class="form-control-label"> Page Url</label>
                    @Html.TextBoxFor(model => model.PageUrl, new { @class = "form-control", placeholder = "Page Url", @required = "required" })
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close </button>
                <button type="submit" id="save_type" name="state" value="Save" class="btn btn-primary"> Save </button>
            </div>
        }
    </div>
</div>
