﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Maintenence System</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/Content/assets/bootstrap/css/bootstrap.min.css">
    <link href="/Content/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/assets/css/ionicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/assets/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="/Content/assets/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/Content/assets/plugins/iCheck/flat/blue.css">
    <link rel="stylesheet" href="/Content/assets/plugins/morris/morris.css">
    <link rel="stylesheet" href="/Content/assets/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="/Content/assets/plugins/datepicker/datepicker3.css">
    <link rel="stylesheet" href="/Content/assets/plugins/daterangepicker/daterangepicker-bs3.css">
    <link rel="stylesheet" href="/Content/assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="/Content/assets/plugins/datatables/dataTables.bootstrap.css">    
    <link rel="stylesheet" href="/Content/assets/plugins/iCheck/all.css">
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/Content/assets/plugins/jQuery/jQuery-2.2.0.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/scripts/Common.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Start Header -->
        @{ Html.RenderAction("GetHeader", "Dashboard");}
        <!-- End Header -->
        <!-- Left side column. contains the logo and sidebar -->
        @{ Html.RenderAction("SidebarMenu", "Dashboard");}

        <!-- Content Wrapper. Contains page content -->
        @RenderBody()
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; @DateTime.Now.Year </strong>Infi Cube. All rights
            reserved.
        </footer>

        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>

    <script src="/Content/assets/plugins/jQueryUI/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.5 -->
    <script src="/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- Morris.js charts -->
    <script src="/Content/assets/plugins/raphael/raphael-min.js"></script>
    <script src="/Content/assets/plugins/morris/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="/Content/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="/Content/assets/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/Content/assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/Content/assets/plugins/knob/jquery.knob.js"></script>
    <!-- daterangepicker -->
    <script src="/Content/assets/plugins/moment/moment.min.js"></script>
    @*<script src="/Content/assets/plugins/daterangepicker/daterangepicker.js"></script>*@
    <!-- datepicker -->
    <script src="/Content/assets/plugins/datepicker/bootstrap-datepicker.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="/Content/assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="/Content/assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="/Content/assets/plugins/iCheck/icheck.min.js"></script>
    <!-- FastClick -->
    <script src="/Content/assets/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="/Content/assets/dist/js/app.min.js"></script>
    <!-- ChartJS 1.0.1 -->
    <script src="/Content/assets/plugins/chartjs/Chart.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!-- AdminLTE for demo purposes -->
    <script src="/Content/assets/dist/js/demo.js"></script>
    <!-- DataTables -->
    <script src="/Content/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Content/assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/Content/assets/plugins/underscore/underscore-min.js"></script>
    <script src="~/scripts/jquery.datetimepicker.js"></script>
    <script>
        $(function () {

        });
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</body>
</html>