﻿<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="@ViewBag.PhotoPath" err-src="@ViewBag.PhotoPath" style="height:50px;" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@ViewBag.Name</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <div>
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                @Html.Raw(ViewBag.MenuList)
                <li><a href="/admin/user"><i class="fa fa-users"></i> <span>Engineer</span></a></li>
                @if (ViewBag.IsAdmin == true)
                {
                    @*<li class="header">ADMIN MENU</li>*@

                    @*<li><a href="/admin/role"><i class="fa fa-registered"></i> <span>Role</span></a></li>
                    <li><a href="/admin/module"><i class="fa fa-server"></i> <span>Module</span></a></li>*@
                    @*<li><a href="/admin/setting"><i class="fa fa-gear"></i> <span>Setting</span></a></li>*@
                }
            </ul>
        </div>
    </section>
    <!-- /.sidebar -->
</aside>