﻿@model IEnumerable<AdvanceUMS.Models.Product>

@{
    AdvanceUMS.Helper.GeneralHelper dHelper = new AdvanceUMS.Helper.GeneralHelper();
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Products
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/Product">ProductList</a></li>
            <li class="active">Add Product</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <a href="/admin/Product/create" class="btn btn-info pull-right">Add Product</a>
                    </div>
                    <div class="box-body">

                        <table id="tbl" class="table  table-bordered table-striped">
                            <thead>
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        Stock Bracket
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Price)
                                    </th>
                                    <th>
                                        Available Quantity
                                    </th>
                                    <th>
                                        Used Quantity
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @dHelper.GetCategoryName(item.CategoryId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        <a href="/admin/product/edit?ID=@item.Id" class="btn btn-primary btn-xs">Edit</a>
                                        @*<a href="/admin/product/delete?ID=@item.Id" class="delete btn btn-warning btn-xs">Delete</a>*@
                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="/scripts/Common.js"></script>
<script>
    $(document).ready(function () {
        $('#tbl').DataTable({
            "scrollX": true,
            "order": [[1, "desc"]],
            "responsive": true,
            drawCallback: function (settings) {
                var api = this.api();
                var rows = api.rows({ page: 'current' }).nodes();
                var last = null;

                api.column(1, { page: 'current' }).data().each(function (group, i) {

                    if (last !== group) {

                        $(rows).eq(i).before(
                            '<tr class="group"><td colspan="6" style="BACKGROUND-COLOR:#00c0ef;font-weight:700;color:black;">' + group + '</td></tr>'
                        );

                        last = group;
                    }
                });
            }

        });
    });
</script>



