﻿@model AdvanceUMS.Models.Bill

<div class="portlet light bordered">
    <div class="row">
        <div class="col-md-12">
            <row>
                <div class="form-style-6 form-group ">
                    <label class="col-md-6 text-right">Select Type of charge:</label>
                    <div class="col-md-6 margin-bottom-5">
                        <select class="form-control dropdown" id="chargeType">
                            <option value="service">Service Charge</option>
                            <option value="other">Other Charge</option>
                        </select>
                    </div>
                </div>
            </row>
        </div>
    </div>
    <div class="row" id="serviceCharge">
        <div class="col-md-6">
            <row>
                <div class="form-style-6 form-group">
                    <label class="col-md-6 text-right">Quantity:</label>
                    <div class="col-md-6 margin-bottom-5 show-error">
                        @Html.TextBoxFor(o => o.Quantity, new { @class = "form-control  text-right", @onkeypress = "return IsNumeric(event);", onchange = "CalculateAmount();" })
                    </div>
                </div>
            </row>
        </div>
        <div class="col-md-6">
            <row>
                <div class="form-style-6 form-group ">
                    <label class="col-md-6 text-right">Unit Price:</label>
                    <div class="col-md-6 margin-bottom-5 show-error">
                        @Html.TextBoxFor(o => o.UnitPrice, new { @class = "form-control  text-right", @onkeypress = "return IsNumeric(event);", onchange = "CalculateAmount();" })
                    </div>
                </div>
            </row>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <row>
                <div class="form-style-6 form-group show-error">
                    <label class="col-md-2">Description:</label>
                    <div class="col-md-10 margin-bottom-5 show-error">
                        @Html.TextBoxFor(o => o.Description, new { @class = "form-control" })
                    </div>
                </div>
            </row>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <row>
                <div class="form-style-6 form-group">
                    <label class="col-md-6 text-right">Amount:</label>
                    <div class="col-md-6 margin-bottom-5 show-error">
                        @Html.TextBoxFor(o => o.BAmount, new { @class = "form-control  text-right", @onkeypress = "return IsNumeric(event);" })
                    </div>
                </div>
            </row>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <br />
        </div>
    </div>
</div>
<div class="text-center">
    <div class="form-actions">
        <button type="button" id="btnsubmit" class="btn btn-primary" onclick="ValidateDocDimSubmit()">Submit</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="onDocketDimensionClose();">Cancel</button>
    </div>
</div>
@*</div>*@
<script>
    $(function () {
        clearModalForm();
      
        $("#chargeType").change(function () {
            var type = $(this).val();
            if (type == "other") {
                AddRemoveError($('#Quantity'), false);
                AddRemoveError($('#UnitPrice'), false);
                AddRemoveError($('#Description'), false);
                AddRemoveError($('#BAmount'), false);
                $('#serviceCharge').show();
                $('#BAmount').attr('readonly', true);
                clearModalForm();
            }
            else {
                $('#serviceCharge').hide();
                $('#BAmount').attr('readonly', false);
                clearModalForm();
            }
        });
    });
    function ValidateDocDimSubmit() {
        var isValid = true;
        if ($("#chargeType").val() == "service") {
            if (!$('#Description').val()) {
                AddRemoveError($('#Description'), true);
                isValid = false;
            }
            else {
                AddRemoveError($('#Description'), false);
            }
            if (!$('#BAmount').val()) {
                AddRemoveError($('#BAmount'), true);
                isValid = false;
            }
            else {
                AddRemoveError($('#BAmount'), false);
            }
        }
        else {
            if (!$('#Description').val()) {
                AddRemoveError($('#Description'), true);
                isValid = false;
            }
            else {
                AddRemoveError($('#Description'), false);
            }
            if (!$('#Quantity').val()) {
                AddRemoveError($('#Quantity'), true);
                isValid = false;
            }
            else {
                AddRemoveError($('#Quantity'), false);
            }
            if (!$('#UnitPrice').val()) {
                AddRemoveError($('#UnitPrice'), true);
                isValid = false;
            }
            else {
                AddRemoveError($('#UnitPrice'), false);
            }
        }
        if (isValid) {
            $("#btnsubmit").submit();
        }
        else {
            return false;
        }
    }
    function CalculateAmount() {
        var Quantity = $('#Quantity').val();
        var UnitPrice = $('#UnitPrice').val();
        var Amount = 0;
        if (Quantity != '' && UnitPrice != '') {
            Amount = Quantity * UnitPrice;
        }
        else
            Amount = 0;
        $('#BAmount').val(Amount);
    }

    function IsNumeric(evt) {

        var charCode = (evt.which) ? evt.which : evt.keyCode;
        // Added to allow decimal, period, or delete
        if (charCode > 31 && (charCode < 44 || charCode > 57))
            return false;
        return true;
    }
    function clearModalForm() {
        $("#Quantity").val('');
        $("#UnitPrice").val('');
        $("#Description").val('');
        $("#BAmount").val('');
    }
    function clear_form_elements(ele) {
        $(ele).find(':input').each(function () {
            switch (this.type) {
                case 'password':
                case 'select-multiple':
                case 'select-one':
                case 'text':
                case 'textarea':
                    $(this).val('');
                    break;
                case 'checkbox':
                case 'radio':
                    this.checked = false;
            }
        });
    }
</script>