﻿@model AdvanceUMS.Models.Bill
<table class="table table-striped table-bordered" id="tblDocketDimension">
    <thead>
        <tr>
            <th width="2%">#</th>
            <th width="2.5%">Quantity </th>
            <th width="50%">Description </th>
            <th >Unit Price</th>
            <th>Amount</th>
            <th width="2.5%">Delete</th>
            @*  <th>Actual Weight</th>
            <th>Volumetric Weight</th>
              @if (Model.Id > 0)
        {
            <th>Barcode Number</th>
        }

        @if (ViewBag.addnew == true && ViewBag.PageMode != "view")
        {
            if ((Model.FMId == 0 && Model.DRSId == 0) || AllFunctions.IsAdminUser())
            {
                <th width="2.5%">Edit</th>
                <th width="2.5%">Delete</th>
            }
        }*@
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            if (Model.BillDetails != null)
            {
                if (Model.BillDetails.Count > 0)
                {
                    int i = 1;
                    foreach (var item in Model.BillDetails)
                    {
        <tr>
            <td>@i.ToString() </td>
            <td align="right">@item.Quantity.ToString() </td>
            <td align="left">@item.Description.ToString() </td>
            <td align="right">@item.UnitPrice.ToString() </td>
            <td align="right">@item.Amount.ToString() </td>     
            <td align="center"><a title="Delete" onclick="deleteDocketDimension('@Model.Id','@item.Id.ToString()')">Delete </a></td>
            @*<td align="right">@item.Length.ToString(AppConstant.DecimalLimitInString)  </td>
        <td align="right">@item.Width.ToString(AppConstant.DecimalLimitInString) </td>
        <td align="right">@item.Height.ToString(AppConstant.DecimalLimitInString) </td>
        <td align="right">@item.TotalActualWeight.ToString(AppConstant.DecimalLimitInString) </td>
        <td align="right">@item.VolumetricWeight.ToString(AppConstant.DecimalLimitInString) </td>
        @if (Model.Id > 0)
        {
            <td align="left">@item.BarcodeNumber</td>
        }

        @if (ViewBag.addnew == true && ViewBag.PageMode != "view")
        {
            if ((Model.FMId == 0 && Model.DRSId == 0) || AllFunctions.IsAdminUser())
            {
                <td align="center"><a title="Edit" onclick="EditDocketDimension('@Model.Id','@item.Id.ToString()')"><i class="icon-pencil"></i></a></td>
                
            }
        }*@
        </tr>
                        i++;
                    }
                }
            }
        }
    </tbody>
</table>
