﻿@model AdvanceUMS.Models.Bill

@{

}
<style>
    .form-group.has-error .field-validation-error, .form-group.has-error .lbl {
        color: #a94442 !important;
    }

    .form-group.has-error .fs-wrap .fs-label-wrap {
        border-color: #a94442 !important;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script src="/scripts/jquery.validate.min.js"></script>
<script src="/scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Create Invoice
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/Bill">Invoice List</a></li>
            <li class="active"> Create Invoice</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formBill" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BillNo, "Invoice No", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.BillNo, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.BillNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BillDate, "Invoice Date", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.BillDate, new { htmlAttributes = new { @class = "form-control date-picker" } })
                                                @Html.ValidationMessageFor(model => model.BillDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ReportId, "Report No", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.DropDownList("EngineerReports", null, htmlAttributes: new { @class = "form-control", @Onchange = "SelectDetails(this.value)" })
                                                @Html.ValidationMessageFor(model => model.ReportId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CompanyId, "Enterprise", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.DropDownList("CompanyId", null, htmlAttributes: new { @class = "form-control", @Readonly = "Readonly" })
                                                @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
                                                @Html.HiddenFor(model => model.CompanyName)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CompanyAddress, "Enterprise Address", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-1">
                                                @Html.EditorFor(model => model.CompanyAddress, new { htmlAttributes = new { @class = "form-control", @Readonly = "Readonly" } })
                                                @Html.ValidationMessageFor(model => model.CompanyAddress, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @*@Html.LabelFor(model => model.SiteId, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.HiddenFor(model => model.SiteId, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.SiteId, "", new { @class = "text-danger" })

                                                </div>*@
                                            @Html.HiddenFor(model => model.SiteName)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SiteName, "Site Name", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.DropDownList("SiteId", null, htmlAttributes: new { @class = "form-control", @Readonly = "Readonly" })
                                                @Html.ValidationMessageFor(model => model.SiteId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SiteAddress, "Site Address", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.SiteAddress, new { htmlAttributes = new { @class = "form-control", @Readonly = "Readonly" } })
                                                @Html.ValidationMessageFor(model => model.SiteAddress, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.VATNo, "Vat No", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.VATNo, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.VATNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group invisible">
                                            @Html.LabelFor(model => model.VisitDate, "", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.VisitDate, new { htmlAttributes = new { @class = "form-control date-picker", @Readonly = "Readonly" } })
                                                @Html.ValidationMessageFor(model => model.VisitDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.VATPer, "VAT Percentage", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.VATPer, new { htmlAttributes = new { @class = "form-control", @Value = "0" } })
                                                @Html.ValidationMessageFor(model => model.VATPer, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.VATAmount, "VAT Amount", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.VATAmount, new { htmlAttributes = new { @class = "form-control", @Readonly = "Readonly" } })
                                                @Html.ValidationMessageFor(model => model.VATAmount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Amount, "Amount", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @Readonly = "Readonly" } })
                                                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TotalAmount, "Total", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control", @Readonly = "Readonly" } })
                                                @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PaymentDue, "Payment Due", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.PaymentDue, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.PaymentDue, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">

                                    </div>
                                    <div class="col-md-12 text-right">
                                        <button type="button" class="btn btn-primary red margin-bottom-10" data-toggle="modal" style="width: 93px;" onclick="AddBillDetails()">
                                            Add
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-12" id="BilldetailsGrid">
                                                <h1>
                                                    Invoice Charges Details
                                                </h1>
                                                <br />
                                                @Html.Partial("BillDetails", Model)
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-offset-5 col-md-10">
                                                <input type="submit" value="Save" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            @Html.HiddenFor(model => model.ReportId)
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    @using (Ajax.BeginForm("SaveBillDetails", "Bill",
                                                                   new AjaxOptions
                                                                   {
                                                                       OnSuccess = "OnSuccess",
                                                                       OnFailure = "OnFailure",
                                                                       LoadingElementId = "progress"
                                                                   }, new { id = "BillDetailsform" }))
    {

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="modal-title text-right" style=" margin-top:20px; color:black;">Add Bill Detail</h4>
                            </div>
                            <div class="col-md-4">
                                <div class="text-right">
                                    <button type="button" data-dismiss="modal" class="btn-cls">&times;</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body" id="docketdimensionadd">
                        @Html.Partial("_AddBillDetails", Model)
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    function AddBillDetails() {
        //$('#docketdimensionadd').html(result);
        $('#myModal').modal('show');
        $("#serviceCharge").hide();
        $("#chargeType").find('option:eq(0)').prop('selected', true);
        clearModalForm()
        AddRemoveError($('#Description'), false);
        AddRemoveError($('#BAmount'), false);
    }
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.date-picker').flatpickr({
            dateFormat: "d-m-y",
        }
        );

    })
    function onDocketDimensionClose() {
        $('#myModal').modal('hide');
        //$('#myEditModal').modal('hide');
    }
    function SelectDetails(value)
    {
        $.ajax({
            url: "/bill/GetReportDetails",
            data: {
                id: value,
            },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.ID > 0) {
                    $('#CompanyId').val(data.CompanyId);
                    $('#CompanyAddress').val(data.CompanyAddress);
                    $('#CompanyName').val(data.CompanyName);
                    $('#SiteId').val(data.SiteId);
                    $('#SiteAddress').val(data.SiteAddress);
                    $('#SiteName').val(data.SiteName);
                    $('#ReportId').val(value);

                    //$('#VisitDate').val(data.VisitDate);
                    //$('#ConsignorGSTNo').val(data.GSTNo);
                    //$('#IsConsignorSEZ').val(data.IsSEZ);
                    //$('#ddlpackingtype').val(data.PackingTypeId);
                    //$('#ddlverticle').val(data.VerticleId);
                    //$('#ddlsalesperson').val(data.ContractSignedBy);


                    //$('#ProductName').val(data.ProductName);
                    //if (data.RiskType == 1)
                    //    document.getElementById('RiskOwner').checked = true;
                    //if (data.RiskType == 2)
                    //    document.getElementById('RiskCarrier').checked = true;
                    //$('#ddlverticle').prop('disabled', 'disabled');
                    //$('#ddlpackingtype').prop('disabled', 'disabled');
                    //$('#ProductName').prop('disabled', 'disabled');
                    //$('#RiskOwner').prop('disabled', 'disabled');
                    //$('#RiskCarrier').prop('disabled', 'disabled');


                }
                else {

                }
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }

    function OnSuccess(response) {
        if (response.status == 1) {
           $.ajax({
            url: '@Url.Action("GetBillDetaisList", "Bill")',
            type: 'GET',
            cache: false,
            data: {
                Id: 1,
            }
        }).done(function (result) {
            $('#BilldetailsGrid').html(result);
            Calculate();
        });
            clear_form_elements($('#myModal'));
            $('#myModal').modal('hide');
        }
        else {
            alert("Something Went Wrong!.");
        }

    }

        function Calculate() {
           $.ajax({
            url: '@Url.Action("Calculateamount", "Bill")',
            type: 'GET',
            cache: false,
               data: {
                   vatper: $('#VATPer').val(),
            }
           }).done(function (result) {
               if (result.status == 1) {
                   $('#VATAmount').val(result.vatamount);
                   $('#Amount').val(result.amount);
                   $('#TotalAmount').val(result.total);
               }

        });
            clear_form_elements($('#myModal'));
            $('#myModal').modal('hide');


    }

    function OnFailure(response) {
        alert("Something Went Wrong!.");
        $('#myModal').modal('hide');
    }

    function deleteDocketDimension(docketid, docketdimensionid) {
     var a =   $.confirm({
            title: 'Confirm Delete!',
            content: 'Are you sure that you want to permanently delete the record you have selected?',
            buttons: {
                proceed: function () {
                    $.ajax({
                        url: '/bill/DeleteDocketDimension',
                        type: 'GET',
                        cache: false,
                        data: {
                            id: docketdimensionid
                        }
                    }).success(function (result) {

                        if (result.status == 1) {
           $.ajax({
            url: '@Url.Action("GetBillDetaisList", "Bill")',
            type: 'GET',
            cache: false,
            data: {
                Id: 1,
            }
        }).done(function (result) {
            $('#BilldetailsGrid').html(result);
        });
            clear_form_elements($('#myModal'));
            $('#myModal').modal('hide');
        }
        else {
            alert("Something Went Wrong!.");
        }
                    });
                },
                cancel: function () {
                },
            }
        });
    }
    function clearModalForm() {
        $("#Quantity").val('');
        $("#UnitPrice").val('');
        $("#Description").val('');
        $("#BAmount").val('');
    }
</script>