﻿@model AdvanceUMS.Models.Bill

@{
    
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Add Product
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/cities">ProductList</a></li>
            <li class="active">Add Product</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <h3>Are you sure you want to delete this?</h3>
                        <div>
                            <h4>Bill</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.BillNo)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.BillNo)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.BillDate)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.BillDate)
                                </dd>

                                <dt>
                                   Report No
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ReportId)
                                </dd>                               

                                <dt>
                                    @Html.DisplayNameFor(model => model.CompanyName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CompanyName)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CompanyAddress)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CompanyAddress)
                                </dd>                               

                                <dt>
                                    @Html.DisplayNameFor(model => model.SiteName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SiteName)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.SiteAddress)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SiteAddress)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.VisitDate)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.VisitDate)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.VATNo)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.VATNo)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.VATPer)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.VATPer)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.VATAmount)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.VATAmount)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Amount)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Amount)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.TotalAmount)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TotalAmount)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.PaymentDue)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PaymentDue)
                                </dd>


                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Delete" class="btn btn-default" /> |
                                    @Html.ActionLink("Back to List", "Index")
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

