﻿@model AdvanceUMS.Models.Bill

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Bill</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.BillNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BillNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BillDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BillDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReportId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReportId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CompanyId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CompanyId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CompanyName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CompanyName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CompanyAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CompanyAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SiteId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SiteId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SiteName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SiteName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SiteAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SiteAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VisitDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VisitDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VATNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VATNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VATPer)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VATPer)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VATAmount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VATAmount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Amount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TotalAmount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PaymentDue)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PaymentDue)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OtherRemarks)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OtherRemarks)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsDelete)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsDelete)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EntryDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EntryDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastModifyDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastModifyDate)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
