﻿@model IEnumerable<AdvanceUMS.Models.Bill>

@{

}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Invoice Details
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/Bill">Invoice List</a></li>
            <li class="active">Invoice</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <a href="/admin/Bill/create" class="btn btn-info pull-right">Create Invoice</a>
                    </div>
                    <div class="box-body">

                        <table id="tbl" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BillNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BillDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CompanyName)
                                    </th>                                                                      
                                    <th>
                                        @Html.DisplayNameFor(model => model.SiteName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SiteAddress)
                                    </th>                                    
                                    <th>
                                        @Html.DisplayNameFor(model => model.VATNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VATPer)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VATAmount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Amount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TotalAmount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PaymentDue)
                                    </th>                                    
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BillNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BillDate)
                                        </td>
                                        
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CompanyName)
                                        </td>                                        
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SiteName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SiteAddress)
                                        </td>                                       
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VATNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VATPer)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VATAmount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Amount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalAmount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PaymentDue)
                                        </td>                                        
                                        <td>
                                            <a href="/admin/Bill/Download_pdf?id=@item.Id" class="btn btn-primary btn-xs">Download</a>
                                            <a href="/admin/Bill/delete?ID=@item.Id" class="delete btn btn-warning btn-xs">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="/scripts/Common.js"></script>
<script>
    $(document).ready(function () {
        $('#tbl').DataTable({
            "scrollX": true
        });
        //$('.delete').click(function () {
        //    var url = $(this).data('url');
        //    alert(url)
        //    $.get(url, function (data) {
        //        if (data.success == "0") {
        //            $('#tbl').load(data.url);
        //            $("#tbl").DataTable();
        //            $('#message').html(data.message);
        //        }
        //        else if (data.success == "3") {
        //            $('#message').html(data.message);
        //        }
        //    });
        //    return false;
        //});
    });
</script>
