
		body {margin-top: 0px;margin-left: 0px;}

		#page_1 {position:relative; overflow: hidden;margin: 32px 0px 17px 8px;padding: 0px;border: none;width: 808px;height: 1007px;}
		#page_1 #id1_1 {border:none;margin: 0px 0px 0px 659px;padding: 0px;border:none;width: 149px;overflow: hidden;}
		#page_1 #id1_2 {border:none;margin: 41px 0px 0px 16px;padding: 0px;border:none;width: 792px;overflow: hidden;}
		#page_1 #id1_2 #id1_2_1 {float:left;border:none;margin: 48px 0px 0px 0px;padding: 0px;border:none;width: 433px;overflow: hidden;}
		#page_1 #id1_2 #id1_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 359px;overflow: hidden;}
		#page_1 #id1_3 {border:none;margin: 11px 0px 0px 0px;padding: 0px;border:none;width: 769px;overflow: hidden;}

		#page_1 #p1dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:780px;height:1007px;}
		#page_1 #p1dimg1 #p1img1 {width:780px;height:1007px;}




		.ft0{font: bold 16px 'Arial';color: #ffffff;line-height: 19px;}
		.ft1{font: bold 12px 'Arial';text-decoration: underline;line-height: 15px;}
		.ft2{font: 12px 'Arial';line-height: 15px;}
		.ft3{font: bold 12px 'Arial';line-height: 15px;}
		.ft4{font: 1px 'Arial';line-height: 1px;}
		.ft5{font: 1px 'Arial';line-height: 6px;}
		.ft6{font: 1px 'Arial';line-height: 7px;}
		.ft7{font: 1px 'Arial';line-height: 8px;}
		.ft8{font: 1px 'Arial';line-height: 14px;}
		.ft9{font: bold 12px 'Arial';line-height: 14px;}
		.ft10{font: 12px 'Arial';line-height: 14px;}

		.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
		.p1{text-align: left;padding-left: 18px;margin-top: 0px;margin-bottom: 0px;}
		.p2{text-align: left;padding-left: 21px;margin-top: 9px;margin-bottom: 0px;}
		.p3{text-align: left;padding-left: 96px;padding-right: 36px;margin-top: 9px;margin-bottom: 0px;text-indent: -68px;}
		.p4{text-align: left;margin-top: 10px;margin-bottom: 0px;}
		.p5{text-align: left;padding-left: 15px;margin-top: 0px;margin-bottom: 0px;}
		.p6{text-align: left;margin-top: 9px;margin-bottom: 0px;}
		.p7{text-align: right;padding-right: 163px;margin-top: 89px;margin-bottom: 0px;}
		.p8{text-align: left;padding-left: 15px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
		.p9{text-align: left;padding-left: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
		.p10{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
		.p11{text-align: left;padding-left: 30px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
		.p12{text-align: left;padding-left: 72px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
		.p13{text-align: right;padding-right: 19px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
		.p14{text-align: right;padding-right: 11px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
		.p15{text-align: right;padding-right: 9px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
		.p16{text-align: left;padding-left: 37px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
		.p17{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
		.p18{text-align: right;padding-right: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
		.p19{text-align: right;padding-right: 6px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

		.td0{border-left: #000000 1px solid;border-right: #c0c0c0 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 74px;vertical-align: bottom;background: #c0c0c0;}
		.td1{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 478px;vertical-align: bottom;background: #c0c0c0;}
		.td2{border-right: #c0c0c0 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;background: #c0c0c0;}
		.td3{border-right: #c0c0c0 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 84px;vertical-align: bottom;background: #c0c0c0;}
		.td4{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 122px;vertical-align: bottom;background: #c0c0c0;}
		.td5{border-left: #000000 1px solid;border-right: #c0c0c0 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 74px;vertical-align: bottom;background: #c0c0c0;}
		.td6{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 478px;vertical-align: bottom;background: #c0c0c0;}
		.td7{border-right: #c0c0c0 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;background: #c0c0c0;}
		.td8{border-right: #c0c0c0 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 84px;vertical-align: bottom;background: #c0c0c0;}
		.td9{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 122px;vertical-align: bottom;background: #c0c0c0;}
		.td10{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 74px;vertical-align: bottom;}
		.td11{padding: 0px;margin: 0px;width: 478px;vertical-align: bottom;}
		.td12{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;}
		.td13{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 84px;vertical-align: bottom;}
		.td14{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 122px;vertical-align: bottom;}
		.td15{border-left: #000000 1px solid;border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 74px;vertical-align: bottom;}
		.td16{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 478px;vertical-align: bottom;}
		.td17{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;}
		.td18{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 84px;vertical-align: bottom;}
		.td19{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 122px;vertical-align: bottom;}
		.td20{padding: 0px;margin: 0px;width: 76px;vertical-align: bottom;}
		.td21{padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;}
		.td22{padding: 0px;margin: 0px;width: 85px;vertical-align: bottom;}
		.td23{padding: 0px;margin: 0px;width: 123px;vertical-align: bottom;}
		.td24{padding: 0px;margin: 0px;width: 92px;vertical-align: bottom;}
		.td25{padding: 0px;margin: 0px;width: 320px;vertical-align: bottom;}
		.td26{padding: 0px;margin: 0px;width: 197px;vertical-align: bottom;}

		.tr0{height: 22px;}
		.tr1{height: 6px;}
		.tr2{height: 24px;}
		.tr3{height: 7px;}
		.tr4{height: 8px;}
		.tr5{height: 14px;}
		.tr6{height: 17px;}
		.tr7{height: 16px;}
		.tr8{height: 23px;}

		.t0{width: 769px;font: 12px 'Arial';}
		.t1{width: 517px;margin-left: 16px;margin-top: 59px;font: bold 12px 'Arial';}
