﻿@model AdvanceUMS.Models.ProductAllocation

@{

}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Delete Stock Allocation
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/ProductAllocations">StockList</a></li>
            <li class="active">Delete Assigned Stock</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <h3>Are you sure you want to delete this?</h3>
                        <div>                         
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    Engineeer name
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.tblUser.FirstName)
                                </dd>

                                <dt>
                                   Product Name
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Product.Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Quantity)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Quantity)
                                </dd>





                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Delete" class="btn btn-default" /> |
                                    @Html.ActionLink("Back to List", "Index")
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
  
</body>
</html>
