﻿@model IEnumerable<AdvanceUMS.Models.ProductAllocation>

@{

}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Stock Allocation
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/ProductAllocations">StockList</a></li>
            <li class="active">Assign Stock</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <a href="/admin/ProductAllocations/create" class="btn btn-info pull-right">Assign Stock</a>
                    </div>
                    <div class="box-body">

                        <table id="tbl" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                       Engineer Name
                                    </th>
                                    <th>
                                       Product Name
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Quantity)
                                    </th>                                   

                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tblUser.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Product.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>                                   

                                    <td>
                                        <a href="/admin/ProductAllocations/edit?ID=@item.Id" class="btn btn-primary btn-xs">Edit</a>
                                        <a href="/admin/ProductAllocations/delete?ID=@item.Id" class="delete btn btn-warning btn-xs">Delete</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="https://cdn.datatables.net/rowgroup/1.1.3/js/dataTables.rowGroup.min.js"></script>
<script src="/scripts/Common.js"></script>

<script>
    $(document).ready(function () {
        $('#tbl').DataTable({
            "scrollX": true,
             "rowGroup": {
                dataSrc: 1
            }
        });       
    });
</script>

