﻿
@{
    ViewBag.Title = "Role Create";
}

<div class="content-wrapper">    
    <section class="content-header">
        <h1>
            Create Role
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/role">RoleList</a></li>
            <li class="active">Create Role</li>
        </ol>
    </section>
    @Html.Partial("_CreateOrUpdate")
</div>


