﻿
@{
    ViewBag.Title = "Edit Role";
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Edit Role
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/role">RoleList</a></li>
            <li class="active">Edit Role</li>
        </ol>
    </section>
    @Html.Partial("_CreateOrUpdate")
</div>


