﻿@model IEnumerable<AdvanceUMS.Models.tblRole>
@{
    AdvanceUMS.Helper.GeneralHelper dHelper = new AdvanceUMS.Helper.GeneralHelper();
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Role List
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Role List</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    @*@if (ViewBag.IsAdd == true)
                    {
                        <div class="box-header">                            
                            <a href="/admin/role/create" class="btn btn-info pull-right">Add Role</a>
                        </div>
                    }*@
                    @{Html.RenderAction("PopulateRole", "Role");}
                </div>
            </div>
        </div>
    </section>
</div>
