﻿@model AdvanceUMS.Helper.UserViewModel

<script src="/scripts/jquery.validate.min.js"></script>
<script src="/scripts/jquery.validate.unobtrusive.min.js"></script>
<!-- Main content -->
<section class="content">
    <div class="row">
        @using (Ajax.BeginForm("AddUser", "User", new { }, new AjaxOptions { OnSuccess = "SuccessAddUser" }, new { enctype = "multipart/form-data" }))
            {
            @Html.HiddenFor(model => model.ID)
            <div id="message"></div>
            @Html.Raw(ViewBag.Message)
            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">General</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>First Name @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })</label>
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "First Name" })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Last Name @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })</label>
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = "Last Name" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Date Of Birth @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })</label>
                                    <div class="input-group date" id="dtpDob">
                                        @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control", placeholder = "Date Of Birth" })
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>


                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Gender @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })</label>
                                    @Html.DropDownListFor(model => model.Gender, ViewBag.GenderList as SelectList, "-- Select Status --", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Country @Html.ValidationMessageFor(model => model.CountryID, "", new { @class = "text-danger" })</label>
                                    @Html.DropDownListFor(model => model.CountryID, ViewBag.CountryList as SelectList, "Select Country", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Phone @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })</label>
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", placeholder = "Phone" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Email @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</label>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
                                </div>
                                <div class="form-group">
                                    <label>Role @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "text-danger" })</label>
                                    @if (ViewBag.Edit == "1")
                                    {
                                        if (ViewBag.IsAdmin == true)
                                        {
                                            @Html.DropDownListFor(model => model.RoleID, ViewBag.RoleList as SelectList, "Select Role", new { @class = "form-control" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(model => model.RoleID, ViewBag.RoleList as SelectList, "Select Role", new { @class = "form-control", @readonly = "readonly" })
                                        }
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(model => model.RoleID, ViewBag.RoleList as SelectList, "Select Role", new { @class = "form-control" })
                                    }
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Address</label>
                                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control", placeholder = "Address" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Van Number @Html.ValidationMessageFor(model => model.VanNumber, "", new { @class = "text-danger" })</label>
                                    @Html.TextBoxFor(model => model.VanNumber, new { @class = "form-control", placeholder = "Van Number" })
                                </div>
                            </div>
                            <div class="col-xs-6">

                            </div>
                        </div>
                    </div>
                    @*<div class="box-header with-border">
                        <h3 class="box-title">Social Information</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Facebook</label>
                                    @Html.TextBoxFor(model => model.FacebookLink, new { @class = "form-control", placeholder = "Facebook" })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Twitter</label>
                                    @Html.TextBoxFor(model => model.TwitterLink, new { @class = "form-control", placeholder = "Twitter" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Gogole Plus</label>
                                    @Html.TextBoxFor(model => model.GoogleLink, new { @class = "form-control", placeholder = "Google Plus" })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>LinkedIn</label>
                                    @Html.TextBoxFor(model => model.LinkedInLink, new { @class = "form-control", placeholder = "Linked In" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Skype</label>
                                    @Html.TextBoxFor(model => model.SkypeID, new { @class = "form-control", placeholder = "Skype" })
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Photo</h3>
                    </div>
                    <div class="box-body">
                        <div id="divUploadPhoto">
                            <input type="file" name="Photo" id="UserPhoto" class="dropify-fr" data-allowed-file-extensions="png jpeg jpg gif" data-max-file-size="2M" data-show-loader="true" data-show-remove="true" data-errors-position="inside" />
                            <div id="divUploadPhotoButtons" class="text-center">
                                <br />
                                <input type="submit" name="ChangePhoto" value="Change Photo" id="ChangePhoto" onclick="UploadPhoto();" class="btn btn-default btn-sm" />
                                <input id="btnPreviewPhoto" type="button" class="btn btn-default btn-sm" value="Preview Photo" onclick="PreviewPhoto();" />
                            </div>
                        </div>
                        <div id="divPreviewPhoto" class="text-center">
                            <center style="border: 2px solid #e6e6e6; padding: 10px 10px;">
                                <img src="@ViewBag.PhotoPath" alt="" class="img-responsive" style="height:180px; width:170px" />
                            </center>
                            <br />
                            <input type="button" class="btn btn-default btn-sm" value="Change Photo" onclick="UploadPhoto();" />
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Login Information</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label>UserName @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })</label>
                            @if (ViewBag.Edit == "1")
                            {
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "UserName", @readonly = "readonly" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "UserName" })
                            }
                        </div>
                        <div class="form-group">
                            <label>Password @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</label>
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
                        </div>
                        <div class="form-group">
                            <label>Confirm Password @Html.ValidationMessageFor(model => model.cPassword, "", new { @class = "text-danger" })</label>
                            @Html.TextBoxFor(model => model.cPassword, new { @class = "form-control", placeholder = "Password" })
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</section>
<input type="hidden" id="type" value="@ViewBag.Edit" />
<link rel="stylesheet" href="/content/assets/css/dropify.min.css" />
<script src="/content/assets/js/dropify.min.js"></script>
<script>
    $(function () {
        var type = $('#type').val();
        if (type == "1") {
            $('#divPreviewPhoto').show();
            $('#divUploadPhoto').hide();
        }
        else {
            $('#divUploadPhotoButtons').hide();
            $('#divPreviewPhoto').hide();
            $('#divUploadPhoto').show();
        }
        $('#dtpDob').datepicker({
            format: 'dd-M-yyyy',
            maxDate: moment() //Disable the future dates.
        });

        $('.dropify').dropify();
        var drEvent = $('#dropify-event').dropify();
        drEvent.on('dropify.beforeClear', function (event, element) {
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
        });
        drEvent.on('dropify.afterClear', function (event, element) {
            alert('File deleted');
        });
        $('.dropify-fr').dropify(
        {
            messages:
            {
                default: 'Click here to choose any image',
                replace: 'Click remove to remove this image',
                remove: 'Remove',
            }
        });
    });
    function SuccessAddUser(data) {
        if (data.status == "1") {
            window.location = data.url;
        }
        if (data.status == "2") {
            $('#message').html(data.message);
        }
    }
    function UploadPhoto() {
        $('#divPreviewPhoto').hide();
        $('#divUploadPhoto').show();
    }
    function PreviewPhoto() {
        $('#divPreviewPhoto').show();
        $('#divUploadPhoto').hide();
    }

</script>
