﻿
@{
    ViewBag.Title = "User Edit";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Edit User
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/user">UserList</a></li>
            <li class="active">Edit User</li>
        </ol>
    </section>
    @Html.Partial("_CreateOrUpdate")
</div>



